{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">To-Do List</h2>
<!-- Add Task Form -->
 <form action="{{ url_for('add_task') }}" method="post" class="d-flex mb-3">
     <input type="text" name="task" placeholder="Enter new task" class="form-control me-2" required>
     <button type="submit">Add Task</button>
</form>

<!-- Task List -->
 <ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <form action="{{ url_for('toggle_task', task_id=task['id']) }}" method="POST" >
            <input type="checkbox" onchange="this.form.submit()" {% if task['completed'] == 1 %} checked {% endif %}>
        </form>
        
        <span class="{% if task['completed'] == 1 %} text-decoration-line-through text-muted {% endif %}">
            {{ task['title'] }}
        </span>

        <div>
            <!--Edit Button-->
            <a href="{{ url_for('edit_task', id=task['id']) }}" class="btn btn-warning btn-sm">Edit</a>

           <!--Delete Button-->>           
            <form action="{{ url_for('delete_task', task_id=task['id']) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>

        </div>
    </li>
    {% else %}
    <li class="list-group-item">No tasks available. Add your First Task</li>
    {% endfor %}
 </ul>    

{% endblock %}