{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">To-Do List</h2>
<!-- Add Task Form -->
 <form action="{{ url_for('add_task') }}" method="post" class="d-flex mb-3">
     <input type="text" name="task" placeholder="Enter new task" class="form-control me-2" required>
     <button type="submit">Add Task</button>
</form>

<div class="d-flex justify-content-between mb-3">
    <!-- Sorting -->    
    <form method="get" class="d-flex">
        <select name="sort" class="form-select me-2" onchange="this.form.submit()">
            <option value="id_desc" {% if sort=='id_desc' %}selected{% endif %} >Newest First</option>
            <option value="id_asc" {% if sort=='id_asc' %}selected{% endif %}>Oldest First</option>
            <option value="due_asc" {% if sort=='due_asc' %}selected{% endif %}>Due Date⬆️</option>
            <option value="due_desc" {% if sort=='due_desc' %}selected{% endif %}>Due Date⬇️</option>
        </select>

        <select name="" id="">
            <option value="">All Tasks</option>
            <option value="">Completed</option>
            <option value="">Pending</option>
            <option value="">overdue</option>
        </select>
    </form>
</div>

<!-- Task List -->
 <ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2" style="flex:1">
            <form action="{{ url_for('toggle_task', task_id=task['id']) }}" method="POST" >
                <input type="checkbox" onchange="this.form.submit()" {% if task['completed'] == 1 %} checked {% endif %}>
            </form>
            
            <!-- Task Title -->
            <div>
                <div>
                    <span class="{% if task['overdue'] %}overdue{% endif %}">
                        {{ task['title'] }}
                    </span>
                </div>

                <small class="text-muted ms-2">
                    <!-- {% if task['due_date'] %} -->
                        Due: {{ task['due_date'] }}
                    <!-- {% endif %}
                    {% if task['reminder_at'] %}
                        *Reminder: {{ task['reminder_at'] }}
                        {% if task['reminder_sent'] == 1 %}
                            <span class="badge bg-success ms-1">Sent</span>
                        {% endif %}
                    {% endif %} --> 
                </small>
            </div>
        </div>  

        <div>
            <!--Edit Button-->
            <a href="{{ url_for('edit_task', id=task['id']) }}" class="btn btn-warning btn-sm">Edit</a>

            <!--Delete Button-->>           
            <form action="{{ url_for('delete_task', task_id=task['id']) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
           
    </li>
    {% else %}
    <li class="list-group-item">No tasks available. Add your First Task</li>
    {% endfor %}
 </ul>    

{% endblock %}